<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer="defer" async="async"></script>
    </head>
    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dave</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    <br />

    <div class="content container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://cdn4.iconfinder.com/data/icons/proglyphs-multimedia/512/Voice-512.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Voice Controller</h4>
              <span class="text-muted">RUNNING</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://davidtsai.net78.net/pages/blog/2012-11-02_files/multimedia-volume-control.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>PulseAudio</h4>
              <span class="text-muted">RUNNING</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://findicons.com/files/icons/727/leopard/128/bluetooth_explorer.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Bluetooth</h4>
              <span class="text-muted">STOPPED</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://raw.githubusercontent.com/binhex/docker-templates/master/binhex/images/minidlna-icon.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>DLNA</h4>
              <span class="text-muted">RUNNING</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>

